@import url('https://fonts.googleapis.com/css2?family=Merriweather&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;
body {
  margin: 0;
  font-family: 'Merriweather', serif;
  background-color: #fdfdfd;
}

select {
  font-size: 16px;
}
